// Variables
// $brand_color: #17494D;
// $brand_text_color:#FFFFFF;
// $background_color: #FFE500;
// $text_color: #FFFFFF;
// $link_color: #1F73B7;
// $visited_link_color: #9358B0;
// $hover_link_color: #0F3554;

// $heading_font: 'Avenir';
// $text_font: 'Avenir';

// $community_image: '$community_image';
// $homepage_background_image: '$homepage_background_image';
// $community_background_image: '$community_background_image';

// Colors
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$border-color: #ddd;

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #666;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

$font-weight-semibold: 600;

// Transitions
$input-transition: border .12s ease-in-out;
